.Space {
  display: block;
  height: var(--size);
  width: 100%;
}

.Text {
  line-height: 1.5;
  padding: 0px;
  color: rgb(118, 118, 118);
  font-family: 'Inter Var';
}

.Card {
  height: 100%;
}

.Card--card {
  background: white;
  box-shadow: rgba(140, 152, 164, 0.25) 0px 3px 6px 0px;
  border-radius: 8px;
  max-width: 100%;
}

.Card-inner {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-direction: column;
  font-family: 'Inter var';
}

.Card--card .Card-inner {
  align-items: flex-start;
  padding: 24px;
}

.Card-icon {
  border-radius: 256px;
  background: var(--puck-color-azure-09);
  color: var(--puck-color-azure-06);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
}

.Card-title {
  font-size: 22px;
  text-align: center;
}

.Card--card .Card-title {
  text-align: left;
}

.Card-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--puck-color-grey-05);
  text-align: center;
  font-weight: 300;
}

.Card--card .Card-description {
  text-align: left;
}

.Grid {
  display: flex;
  flex-direction: column;
  width: auto;
}

@media (min-width: 768px) {
  .Grid {
    display: grid;
  }
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.Flex-item {
  flex: 1;
}

.Heading {
  display: block;
  color: var(--puck-color-black);
  font-weight: 700;
  margin: 0;
  font-family: 'Inter Var';
}

.Heading b {
  font-weight: 700;
}

.Heading--xl {
  font-size: var(--puck-font-size-xxl);
}

.Heading--l {
  font-size: var(--puck-font-size-l);
}

.Heading--m {
  font-size: var(--puck-font-size-m);
}

.Heading--s {
  font-size: var(--puck-font-size-s);
}
